body{
 background-color: white;
 color: black;
 overflow: scroll;

}

body.dark {
  background-color: #111;
  color: white;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
  
}

@media (max-width: 480px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin: 0;

  }

}

.light-button{
  cursor: pointer;
  background: none;
  border-radius: 4px;
  border: none;
  padding: 7px;
  font-size: 30px;
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}



.hero-container{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 30px;
}

@media (max-width: 480px) {
  .hero-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

}

 @media (min-width: 481px) and (max-width: 1030px) {
    .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
.Image{
  width: 400px;
  height: 350px;
  
}

@media (max-width: 480px) {
.Image{
  width: 300px;
  height: 300px;
  display: none;
  }
}

.Header-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 200px;
}
.p{
  color:#ffae00;
}
.herotext{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  
}
@media (max-width: 480px) {
.herotext{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  }
}

 @media (min-width: 481px) and (max-width: 1030px) {
 .herotext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Image{
     width: 500px;
    height: 500px;
    display: none;
  }
  }





.Text1{
  display: block;
  font-size: 45px;
  font-weight: 400px;
  color: #ffae00;
}

@media (max-width: 480px) {
.Text1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}

 @media (min-width: 481px) and (max-width: 1030px) {
  .Text1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;

  }
  }

.Text2{
  display: block;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
  font-weight: 200px;
  
}
@media (max-width: 480px) {
.Text2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 30px;

  }
}

 @media (min-width: 481px) and (max-width: 1030px) {
  .Text2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  font-weight: 100px;

  }
  }

.buttontext{
  background-color: #fac450;
  color: black;
  padding: 15px;
  font-size: 20px;
  font-weight: 300px;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
}







.Aboutme-container{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  gap: 70px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@media (max-width: 480px) {
.Aboutme-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  }
}

.Personal-image{
  width: 390px;
  height: 390px;
  border-radius: 260px;
  border: solid;
  border-color: #ffae00;

}
@media (max-width: 480px) {
.Personal-image{
  width: 300px;
  height: 300px;
  border-radius: 230px;
  margin-bottom: 0px;
  }
}

.About-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
.About-text{
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 30px;
  }

 .Abouttext-1{
  margin-bottom: 0px;
 }
 .Abouttext-2{
   display: flex;
   align-items: center;
   text-align: center;
   line-height: 30px;
   width: 320px;
   padding-top: 15px;
    
  }
}

@media (min-width: 481px) and (max-width: 1030px) {
  .Aboutme-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
 
  }

.Abouttext-1{
  display: block;
  font-size: 65px;
  font-weight: 400px;
  color: #ffae00;
  margin-bottom: 0px;
}
.Abouttext-2{
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 481px) and (max-width: 1030px) {
  .Personal-image{
   width: 500px;
   height: 500px;
   border-radius: 400px;
   
  }
  .About-text{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;


  }
  .Abouttext-1{
  font-size: 80px;
  font-weight: 500px;
  margin-bottom: 0px;
  }
  .Abouttext-2{
  font-size: 35px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  line-height: 35px;
  font-weight: 100px;
  
  
}


  }
  











.project-container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 70px;
  gap: 0px;
}
@media (max-width: 480px) {
.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  flex-direction: column;
  
  }
  .Abouttext-1{
    font-size: 55px;
  }
}

.Project-header{
  font-size: 45px;
  font-weight: 400px;
  color: #ffae00;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;

}
@media (max-width: 480px) {
.Project-header{
   display: flex;
   justify-content: center;
   text-align: center;
  
  }
}

.Project-grids{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  color: black;
  margin-top: 0px;
  
}

 @media (min-width: 481px) and (max-width: 1050px) {
    .Project-grids{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }

@media (max-width: 480px) {
 .Project-grids{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
}
.grid{
  height: 300px;
  width: 800px;
  background-color: #ffffffda;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.907);
  border: solid;
  border-color: #ffae00;
  margin-top: 0px;
}
@media (max-width: 480px) {
 .grid{
  height: 300px;
  width: 300px;
  
  }
}

@media (min-width: 481px) and (max-width: 1050px) {
    .grid{
    display: flex;
    flex-direction: column;
     height: 250px;
     width: 500px;
    }
  }

.Grid-header{
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-bottom: 0px;

}

.Grid-text{
  display: flex;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 12px;
  width: 250px;
}
.Grid-text2{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 10px;
}
.Grid-text3{
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  color:black;
}

.footer-container{
  margin-top: 50px;
  height: 350px;
}

@media (max-width: 480px) {
 .footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
  
.Foot-con1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0px;
  
}

@media (max-width: 480px) {
 .footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
 .foot-text1{
  margin-top: 70px;
  color: #ffae00;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0px;
 }

 @media (max-width: 480px) {
  .foot-text1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  }
}
 .foot-text2{
   margin-top: 15px;
   font-size: 21px;
   font-weight: 600;
   color: #ffae00;
 }
 @media (max-width: 480px) {
  .foot-text2{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
}
 .foot-con2{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 @media (max-width: 480px) {
  .foot-con2{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 3px;
  }
}
 
 .foot-text3{
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: #ffae00;
 }
 .button{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  border: solid;
  cursor: pointer;
  border-radius: 25px;
  font-size: 15px;
  color: #ca9729;
  background-color: none;
 }
 .phone{
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #ffae00;;
 }

 .reserved{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }